body {
    margin: 0px;
    border: 0px;
    height: 100vh;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#overall {
    width: 100vw;
    align-items: center;
}

h3 {
    padding: 0;
    margin: 0;
    margin-top: 24px;
}

#container {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* align-items: center; */
}

.box1 {
    width: 100px;
    height: 20px;
    padding: 2px;
    border-style: solid;
    border-color: black;
}

#waterBar {
    height: 100%;
    background-color: brown;
}

#petArea {
    visibility: hidden;
}

#chooseName {
    visibility: hidden;
}

#petWindow {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    width: 306px;
    border: black;
    border-style: solid;
}

#petCreation {
    background-image: radial-gradient(#d5d5d5 30%, transparent 20%), radial-gradient(#d5d5d5 20%, transparent 20%);
    background-color: rgb(255, 255, 255);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    border-radius: 30px;
    border: black;
    border-style: solid;
    width: 50%;
    height: 244px;
    display: inline-block;
}

@media (max-width: 550px) {
    #petCreation {
        width: 80%;
    }
}

#topText {
    position: relative;
    margin: auto;
    background-color: white;
    padding: 8px;
    width: 180px;
    top: -20px;
    border-radius: 14px;
    border: black;
    border-style: solid;
    visibility: visible;
    font-size: 20px;
}

#createBtn {
    position: relative;
    margin: auto;
    background-color: rgb(255, 217, 4);
    padding: 10px;
    width: 100px;
    border-radius: 14px;
    border: black;
    border-style: solid;
    visibility: hidden;
    font-size: large;
}

.icon {
    margin: 0;
    position: relative;
    top: 17%;

}

#infoMenu {
    display: flex;
    justify-content: center;
}

.infoTop {
    margin-left: 4px;
}

#uiMenu {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


#chooseName {
    display: flex;
    justify-content: center;
    align-items: center;
}

#newNameInput {
    border-color: black;
    border-width: 2.5px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    height: 20px;
    width: 100px;
    font-size: medium;
    padding: 4px;
    font-family: 'Roboto Slab', serif;
}

#refreshName {
    padding: 4px;
    border-color: black;
    border-width: 2.5px;
    border-left-width: 0px;
    border-bottom-right-radius: 8px;
    border-top-Right-radius: 8px;
    height: 33px;
    width: 33px;
}

#bubble {
    position: relative;
    background: #ffffff;
    font-size: 20px;
    line-height: 97px;
    text-align: center;
    width: 90%;
    height: 70px;
    top: -10px;
    border-radius: 20px;
    padding-bottom: 25px;
    border: #000000 solid 3px;
}

#bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #ffffff transparent;
    border-width: 20px 15px 0;
    bottom: -20px;
    left: 50%;
    margin-left: -15px;
}

#bubble:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: #000000 transparent;
    border-width: 23px 18px 0;
    bottom: -24.5px;
    left: 50%;
    margin-left: -18px;
    display: block;
}


#modalBG {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.button {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background-color: rgb(249, 249, 249);
    border: 4px solid #000000;
    margin: 8px;
}

#speachBubble {
    display: flex;
    justify-content: center;
    opacity: 100%;
    animation-name: none;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes fadeOut {
    0% {
        opacity: 99%;
    }

    100% {
        opacity: 0%;
    }
}